body{background-color: lightgoldenrodyellow;}
h1{
  font-size: 30px;
  color: salmon;
}
h2{
  font-size: 23px;
  color: brown;
}
.big{
  font-size: 70px;
  color: green;
}
.uppercase{
text-transform: uppercase;
}
span{
  color: blue;
}
h1 span{text-transform: lowercase;}
